label{
    color :black;
    font-size: 24px;
    font-family: sans-serif;
    margin-bottom: 3px;
    margin-top: 10px;
}

h6{
    color : black;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

