<h5>Pagina Incial</h5>

<br />
<details>
    <summary>Proposta :</summary>
    <p>- Criar um Projeto Api com rotinas de Cadastro,Consultas,Atualizações e Exclusão de Atendimentos que poderia ser
        utilizado em
        um hospital.</p>
</details>
<br />
<details>
    <summary>Regras de Negocios :</summary>
    <p>- Pacientes novos não podem possuir Cpf ou Email já contidos no Banco de Dados.</p>
    <p>- Paciente ou Medico só podem ser excluidos caso não existam atendimentos marcados.</p>
</details>
<br />
<details>
    <summary>Tecnologias Utilizadas :</summary>
    <details>
        <summary class="Sumario">Back-End</summary>
        <p>- Net Core Api.</p>
        <p>- Swagger.</p>
        <p>- C#.</p>
        <p>- DDD (Domain Drive Design).</p>
        <p>- Entity FrameWork.</p>
    </details>
    <details>
        <summary class="Sumario">Front-End</summary>
        <p>- Angular.</p>
        <p>- Html, Css e JavaScript.</p>
        <p>- Bootstrap.</p>
    </details>

</details>
<br />
<details>
    <summary>Desenvolvedor :</summary>
    <p>- Lucas Marapodi.</p>
    <p>- LucasMarapodi.Dev@gmail.com.</p>
    <a href="https://github.com/LucasMarapodi" target="_blank">- GitHub.</a>
</details>